<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Employee</title>
  </head>
  <body>
    <h1>Add Employee Form</h1>
    <%- include('partials/navbar') %>
    <form action="/employees/add" method="POST">
      <div>
        <label for="">Name</label>
        <div>
          <input type="text" name="name" />
        </div>
      </div>
      <div>
        <label for="">Position</label>
        <div>
          <input type="text" name="position" />
        </div>
      </div>
      <div>
        <label for="">Education</label>
        <div>
          <!-- <input type="text" name="education" /> -->
          <select name="education" id="">
            <option value="" disabled selected>Select Education</option>
            <% degrees.forEach((el) => { %>
            <option value="<%= el %>"><%= el %></option>
            <%}) %>
          </select>
        </div>
      </div>
      <div>
        <label for="">Email</label>
        <div>
          <input type="email" name="email" />
        </div>
      </div>
      <div>
        <label for="">Phone Number</label>
        <div>
          <input type="text" name="phone_number" />
        </div>
      </div>
      <div>
        <label for="profile_picture">Profile Picture</label>
        <div>
          <input type="text" name="profile_picture" />
        </div>
      </div>
      <div>
        <label for="">Age</label>
        <div>
          <input type="number" name="age" />
        </div>
      </div>
      <br />
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
